@charset "utf-8";
.skill-container{
    width:90%;
    height:90%;
    border:1px solid black;
    display:flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: space-around;
}
.circle {
    width: 30%;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
  }
  
  .circle canvas {
    vertical-align: top;
    width:70px;
    height:70px;
  }
  
  .circle strong {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 1rem;
    transform:translate(-50%,-50%)
  }
  
  .circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
  }
  
  .circle span {
    display: block;
    color: #aaa;
    margin-top: 0;
    font-size:0.9rem
  }

  @media screen and (min-width:768px){
    .circle strong {
        top: 40%;

      }
  }